<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: center;">
        <div class="panel panel-info">
          <div class="panel-heading">
            BASIC FORM
          </div>
          <br>
          <div class="panel-body">
            <form (ngSubmit)="login()">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input class="form-control" type="text" placeholder="Email" [(ngModel)]="email" name="email" required>
              </div>
              <br>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
              </div>
              <br>
              <button type="submit" class="btn btn-info">
                <strong>Login</strong>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  